/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */
@font-face {
    font-family: Montserrat;
    src: url(../Assets/Fonts/static/Montserrat-Regular.ttf);
}
@font-face {
    font-family: pp telegraf;
    src: url(../Assets/Fonts/FontsFree-Net-Telegraf-Regular\ \(1\).ttf);
}
*{
    padding: 0;
    margin: 0;
    font-size:14px;
}
#first-head{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: white;
}
#logo{
    width: 10%;
    height: 50px;
    margin-left:5%;
}
#nav-bar{
    width: 52%;
    height: 50px;
    display: flex;
    align-items: center;
    margin-left:26%;
    column-gap: 43px;
}
#nav-bar a{
    color:black;
    text-decoration: none;
    font-size: 1.5rem;
    font-family:pp telegraf;
}
/* Section one styling */
#my-sec-1{
    width:100%;
    height:700px;
    background-image: url("../Assets/Images/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
}
#Words-1{
    width: 40%;
    height: 200px;
}
/* #house{
    width:40%;
    height:600px;
    margin-left:59%;
    margin-bottom:400px;
    display:flex;
    justify-content:flex-end;
    border: 1px solid red;
} */


/* styling section 2 */
#sec2{
    width:100%;
    height:1000px;
    display: flex;
    background-color:#ffffff;
}
#Ahouse{
    width:43%;
    height: 800px;
    margin-left:76px;
    margin-top:70px;
    position: relative;
}
#the-house{
    width:555px;
    height:800px;
}
#stars{
    width: 40%;
    height: 220px;
    position: relative;
    bottom: 175px;
    left: 390px;
    background-color:#ffffff;
    box-shadow:3px 3px 3px 1px rgb(214, 208, 208);
    border-radius:6%;
}
#faces{
    width: 185px;
    height: 58px;
    margin-top: 50px;
    margin-left: 20px;
}
#starsz{
    width: 150px;
    height: 30px;
    margin-left:40px;
    margin-top: 5px;
}
#star-head{
    font-size: 1.2rem;
    margin-left:35px;
    font-family:montserrat;
}
#reviews{
    font-size: .8rem;
    font-family: Montserrat;
    color:#9F9F9F;
    margin-left:25%;
    margin-top:10px;
    font-weight: 900;
}
#writeups{
    width: 45%;
    height:800px;
    margin-left:60px;
    margin-top:70px;
}
.twin-writeups{
    width: 97%;
    height:260px;
}
.circle{
    width:10%;
    height: 58px;
    margin-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    background-color:#69c5f0;
}
#house-icon{
    width: 50%;
    height: 33px;
}
.header-and-paragraph{
    width:90%;
    height:250px;
    margin-top:15px;
}
.first-header{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    line-height:43px;
}
.first-paragraph{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    line-height:22px;
    font-size: 1rem;
    color:#9F9F9F;
    margin-top: 12px;
}
#move-it{
    margin-top: 70px;
}
#download{
    width: 39%;
    height: 59px;
    border-radius: 10px;
    margin-top:80px;
    margin-bottom: 50px;
    background-color: #023555;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tiny-circle{
    width: 16%;
    height: 38px;
    border-radius: 100%;
    margin-left:7px;
    background-color:#9F9F9f ;
}
#cloud{
    margin-top: 10px;
    margin-bottom:10px;
    margin-left: 10px;
    font-size: 1.2rem;
    color:#023555;
}
#guideline{
    width: 75%;
    margin-left:9px;
    display: flex;
    column-gap: 31px;
    opacity: .7;
}
#guide{
    font-family:Montserrat;
    color: #ffffff;
    font-size: .8rem;
}
#badge-icon{
    width: 50%;
    height: 33px;
}
/* styling section 3 */
#sect-3{
    width: 99%;
    height: 750px;
    color: #ffffff;
}
#grey-box{
    width: 90%;
    height: 740px;
    box-sizing: border-box;
    background-color:#f6f6f6;
    border:1px solid #DBE4E9;
    border-radius:20px;
    margin-left:76px;
    display: flex;
}
#set-writeups{
    width: 45%;
    height: 700px;
}
#A-header{
    width: 60%;
    margin-top:90px;
    margin-left:45px;
    font-size:2.5rem;
    font-weight:900;
    font-family: Montserrat;
    color: black;
}
#father-div{
    width:98%;
    padding-right:10px;
    word-spacing:1px; 
    margin-top: 60px; 
}
#A-paragraph{
    font-size: 1.2rem;
    font-family: Montserrat;
    font-weight: 700;
    line-height: 30px;
    color:#9F9F9F;
    margin-top:30px;
    margin-left:45px;
}
#mortage{
    width: 50%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left:60px;
    margin-top:100px;
}
#mor-tage{
    font-family: 'Montserrat';
    font-size: 1.2rem;
    font-weight:900;
    color:black;
}
#right-arrow{
    width:13px;
    margin-left:12px;
    margin-top:6px;
}
#set-image{
    width: 50%;
    height: 740px;
}
#mortgage-man{
    width:700px;
    height: 900px;
    margin-top:-60px;
}
/* section 4 styling */
#section-4{
    width: 100%;
    height: 500px;
    margin-top:90px;
}
#get-started{
    font-family:Montserrat;
    font-size: 3rem;
    margin-left:90px;
    word-spacing:5px;
    margin-bottom:30px;
}
#flex-boxes{
    width:95%;
    margin-left:30px;
    height: 420px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.free-guide{
    width:28%;
    height:340px;
    border-radius:4%;
    border:1px solid #DBE4E9;
    background-color:#f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.image-container{
    width: 80%;
    height:80px;
    text-align:center;
    margin-top: -50px;
}
.hand-house{
   width:29%;
   height:70px; 
   margin-top:70px;
}
.the-heading{
    width: 70%;
    font-family:Montserrat;
    font-style: normal;
    font-weight:700;
    font-size: 23px;
    line-height:28px;
    text-align: center;
    color: #000000;
    margin-top: 60px;
}
.speech{
    width: 90%;
    text-align: center;
    font-size:0.9rem;
    line-height: 20px;
    font-family: montserrat;
    margin-top: 30px;
}
.free-guide-download{
    width: 70%;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 15px;
    justify-content: center;
}
.freee{
    font-size:1rem;
    font-weight:700;
    font-family:montserrat;
    font-size:0.8rem;
}
#cloud{
    font-size:1.2rem;
    margin-left:10px; 
}
/* section 5 styling */
#sec-5{
    width: 100%;
    height: 900px;
}
#sect-5-header{
width: 40%;
margin-left:27%;
margin-top:95px;  
font-family:Montserrat;
font-weight: 700;
font-size: 2.5rem;
line-height:50px;
text-align: center;
color: #000000;
}
#flexed-boxes{
width: 95%;
height: 600px;
margin-left:45px;
margin-top: 70px;
display: flex;
justify-content: space-evenly;
}
.fast-work{
width:30%;
height:560px;
border-radius:4%;
background-color: #ffffff;
box-shadow:3px 3px 7px 1px rgb(214, 208, 208);
}
#blue-card{
background-color:#007CB4;
color: #ffffff;
}
#blue-card-word{
    color: #ffffff;
}
.image-container-2{
width: 21%;
height: 90px;
margin-left:29px;
margin-top: 40px;
display: flex;
justify-content: center;
align-items: center;
background: rgba(88, 187, 232, 0.46);
border-radius: 17px;
}
.iconic{
    width: 55%;
    height:50px;
}
.the-heading-2{
    width: 70%;
    height:50px;
    font-family:Montserrat;
    font-size: 1.2rem;
    margin-left:25px;
    margin-top: 35px;
    font-weight: 900;
    line-height: 25px;
}
.speech-2{
    width: 90%;
    text-align: center;
    font-size:1.1rem;
    line-height:30px;
    font-weight:700;
    font-family:montserrat;
    margin-top:23px;
    margin-left:25px;
    color:#9F9F9F;
}
/* styling section 6 */
#sect-6{
    width: 100%;
    height: 450px;
}


